@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";


@theme {
    --font-sans: "Roboto", sans-serif;
    --color-primary: #9b8384;
    --color-secondary: #f6f4f0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.banner {
    margin-top: 100px;
}